*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  --border-radius: 0.5rem;
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  min-height: 100vh;
  background: var(--red) url("./images/bg-intro-desktop.png");
}

.container {
  min-height: 100vh;
  display: grid;
  /* place-items: center; */
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.content {
  width: 70%;
  justify-self: end;
}

.heading {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.description {
  margin: 1.5rem 0;
  color: white;
  font-weight: 500;
  line-height: 2;
}

.form-container {
  width: 70%;
  /* padding: 0 15% 0 0; */
}

.form {
  background: white;
  padding: 2rem 5%;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
}

.banner {
  padding: 1rem 2rem;
  background-color: var(--blue);
  border-radius: var(--border-radius);
  margin: 1.5rem 0;
  width: 100%;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
}

.banner-text-container {
  text-align: center;
}

.banner-text-container span:nth-child(1) {
  color: white;
  font-weight: 600;
}

.banner-text-container span:nth-child(2) {
  color: var(--grayish-blue);
  font-weight: 400;
}

.form > *:not(:last-child) {
  margin-bottom: 2rem;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 0.3rem;
  font-weight: 600;
}

.input-field::placeholder {
  font-weight: 600;
  letter-spacing: 1px;
}

.input-field:focus-within {
  outline: none;
  border: 2px solid var(--blue);
}

.input-field.error {
  border: 2px solid var(--red);
  color: var(--red);
}

.error-icon {
  position: absolute;
  right: 3%;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.error-icon.active {
  display: block;
}

.error-message {
  color: var(--red);
  float: right;
  font-size: 0.8rem;
  font-style: italic;
}

.submit-button {
  border: 0;
  background: var(--green);
  width: 100%;
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.9;
}

.terms {
  text-align: center;
  width: 100%;
  color: gray;
  font-size: 0.8rem;
}

.bold-terms {
  font-weight: 600;
  color: var(--red);
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 2fr;
    grid-template-rows: auto 1fr;
    padding: 2rem;
  }

  .form-container {
    width: 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .content {
    width: 100%;
    text-align: center;
    justify-self: center;
  }
}
